<launch>
    <include file="$(find drone_pkg)/launch/offba_drone_telemetry.launch">
    </include>

    <include file="$(find mavros)/launch/node.launch">

        <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
        <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml"/>
        <arg name="fcu_url" value="/dev/ttyACM0:57600" />
        <arg name="gcs_url" default="udp://:14560@127.0.0.1:14550" />
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />

    </include>
</launch>
