<launch>
  <!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/multi_uav_mavros_sitl.launch">
	
	</include>

	<!-- Our node to control the drone -->
	<node pkg="drone_pkg" type="offba_drone.py" name="multidronecobaPython" required="true" output="screen" >
	
	</node>

</launch>



